<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
<div style="text-align: center">
    <div class="block">
<form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <h1>  Delete User </h1>
    <p>  Name: <a th:text="*{name}"></a> </p>
    <p>  LastName:  <a th:text="*{lastName}"></a> </p>
    <p>  Email:  <a th:text="*{email}"></a> </p>
    <p>  Password:  <a th:text="*{password}"></a> </p>
    <p>  User roles:
    <td>
        <th:block th:each="role : *{roles}">
            <label th:text="${role.name}"></label>
        </th:block>
    </td>
    </p>
    <hr/>
    <input type="submit" value="DELETE"/>
    <hr/>
    <a href="/admin/users">Back to List</a>
    <br/>
    <a th:href="@{/logout}">Logout</a>

</form>

    </div>
</div>

</body>
</html>