<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Create user</title>
<style>
    .block {
        display: inline-block;
    }

    input,
    label {
        display: block;
    }
</style>
</head>

<body>
<h1 align="center">Edit User Page</h1>
<div style="text-align: center">
    <div class="block">
<form action="#"
      th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}" method="post">
    <label for="id">User ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br>
    <br>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <br>
    <br>
    <label for="password">Username</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <br>
    <br>
    <div align="center">
    <input type="submit" value="Update User">
    </div>
</form>
    </div>
</div>
<br>
<div align="center">
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</div>

</body>
</html>