<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div style="text-align: center">
    <div class="block">
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <h1>  Create New User </h1>
    <label for="name"> Enter Name </label>
    <br>
    <input type="text" th:field="*{name}" required id="name" placeholder="name"/>
    <br/>
    <br>
    <label for="lastname"> Enter LastName </label>
    <br>
    <input type="text" th:field="*{lastName}" required id="lastname" placeholder="lastname"/>
    <br>
    <br>
    <label for="email"> Enter Email </label>
    <br>
    <input type="text" th:field="*{email}"  required id="email" placeholder="email"/>
    <br>
    <br>
    <label for="password"> Enter Password </label>
    <br>
    <input type="text" th:field="*{password}" required id="password" placeholder="password"/>
    <p>  Select roles:
    <td>
        <th:block th:each="role : ${rolesList}">
            <input type="checkbox" name="rolesIdArr"  th:value="${role.id}"/>
            <label th:text="${role.name}"></label>
        </th:block>
    </td>
    <p>

    <hr/>
    <input type="submit" value="Create!"/>
    <hr/>
    <a href="/admin/users">Back to List</a>
    <br/>
    <a th:href="@{/logout}">Logout</a>

</form>

    </div>
</div>

</body>
</html>